.message-container {
  line-height: 1.5;
  font-size: 1.2em;
  position: absolute;
  bottom: 0;
}

.display {
  color: whitesmoke;
  background-color: #2C2F33;
  position: fixed;
  top: 0;
  left: 0;
}
