

<mat-toolbar>
  <button mat-icon-button class="icon" aria-label="New session" (click)="openDialog()">
    <mat-icon class="icon-inside-button" svgIcon="aya_logo"></mat-icon>
  </button>
  <span>Aya~</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="loginMenu" class="icon" aria-label="Login">
    <mat-icon class="icon-inside-button">more_vert</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">

    <mat-list>
      @if (isAuth) {
        <mat-list-item>
          <span>User Id: {{userInfo?.ID}} Logged in!</span>
        </mat-list-item>


        <mat-list-item>
          <button (click)="logout()" mat-button>Log out</button>
        </mat-list-item>
      } @else {
        <mat-list-item>
          <button (click)="login()" mat-button>Log in</button>
        </mat-list-item>
      }

    </mat-list>
  </mat-menu>
</mat-toolbar>

@if (sessionInfo) {
  @for (session of sessionInfo; track $index) {
    <mat-card>
      <mat-card-header>Session ID: {{session.ID}}</mat-card-header>
      <mat-card-content>Session Resources: {{session.Resources}}</mat-card-content>
      <mat-card-actions>
        <button mat-icon-button class="icon" aria-label="edit session" (click)="openEditDialog($index)">
          <mat-icon class="icon-inside-button">edit</mat-icon>
        </button>
        <button mat-icon-button class="icon" aria-label="delete session" (click)="openDeleteDialog($index)">
          <mat-icon class="icon-inside-button">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>

  }
}
