<mat-toolbar>
  <button
    mat-icon-button
    class="icon"
    aria-label="New session"
    (click)="openDialog()"
  >
    <mat-icon class="icon-inside-button" svgIcon="aya_logo"></mat-icon>
  </button>
  <span>Aya~</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="loginMenu"
    class="icon"
    aria-label="Login"
  >
    <mat-icon class="icon-inside-button">more_vert</mat-icon>
  </button>
  <mat-menu #loginMenu="matMenu">
    <mat-list>
      @if (isAuth) {
      <mat-list-item>
        <span>User Id: {{ userInfo?.ID }} Logged in!</span>
      </mat-list-item>

      <mat-list-item>
        <button (click)="logout()" mat-button>Log out</button>
      </mat-list-item>
      } @else {
      <mat-list-item>
        <button (click)="login()" mat-button>Log in</button>
      </mat-list-item>
      }
    </mat-list>
  </mat-menu>
</mat-toolbar>

@if (displaySessionInfo) { @for (displaySession of displaySessionInfo; track
$index) {
<mat-card>
  <mat-card-header>
    <p>Session ID: {{ displaySession.session_info.ID }}</p>
  </mat-card-header>
  @if (displaySession.should_hidden) {
  <mat-card-content>
    <p>(deleted)</p>
  </mat-card-content>
  } @else {
  <mat-card-content>
    <app-session-info-display
      [displaySessionInfo]="displaySession"
    ></app-session-info-display>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      class="icon"
      aria-label="edit session"
      (click)="openEditDialog($index)"
    >
      <mat-icon class="icon-inside-button">edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="delete session"
      (click)="openDeleteDialog($index)"
    >
      <mat-icon class="icon-inside-button">delete</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon"
      aria-label="stream link"
      (click)="copyURLToClipboard(displaySession.session_info.UUID)"
    >
      <mat-icon>link</mat-icon>
    </button>
    <mat-slide-toggle
      [checked]="displaySession.session_info.IsOn"
      (change)="switchSession($index, $event)"
    ></mat-slide-toggle>
  </mat-card-actions>
  }
</mat-card>
<mat-divider></mat-divider>

} }
