.message {
  white-space: pre-wrap;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 1em;
  text-align: left;
}

.author {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: normal;
}

.attachment {
  font-size: 0.5em;
}

.message-emoji {
  width : 1.5em;
  height : 1.5em;
  object-fit: contain;
  object-position: center;
}

.attachment-container {
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.message-object {
  font-size: 12pt;
}

.message-source {

}
